// Colors

$col-background: #f6f6f6;
$col-hover: #ffdd00;
$col-text-table: grey;

// Typography
$fontSize-body: 1.2rem;
$fontSize-body-sm: 2rem;
$fontSize-small: 1.2rem;
$fontSize-small-sm: 1.5rem;
$fontFamily-body: "NeueMontreal-Regular", sans-serif;
$font-Family-titles: "HKSentiments-Bold", sans-serif;

// Cursor
$main-cursor: default;
