// Colors

$col-background: #f6f6f6;
$col-hover: #ffdd00;
$col-text-table: grey;
$col-text: #2c2c2d;

// Typography
$fontSize-body: 1.2rem;
$fontSize-body-sm: 2rem;
$fontSize-small: 1.2rem;

$title-font-size: 5rem;
$subtitle-font-size: 3rem;
$caption-font-size: 0.5rem;

$fontSize-small-sm: 1.5rem;
$fontFamily-body: "NeueMontreal", sans-serif;
$font-Family-titles: "HKSentiments-Bold", sans-serif;

// Cursor
$main-cursor: url("./img/ep_cursor_small.png"), default;
