
@import "abstracts/variables";

@import "base/base"; 
@import "base/typography";
@import "base/animations"; 

@import "components/table";
@import "components/footer";

// @import "layout/header";
// @import "layout/grid";

@import "pages/home";