.bground_img {
  background-size: cover;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  position: relative;
  pointer-events: none;
  &_header {
    background-image: url("./img/newtop2021.svg");
    height: 11vw;
  }
  &_1 {
    height: 151vw;
    background-image: url("./img/bground_img_1.png");
  }
  &_2 {
    background-image: url("./img/bground_img_2.png");
    height: 60vw;
  }
  &_3 {
    background-image: url("./img/bground_img_3.png");
    height: 42vw;
  }
  &_4 {
    background-image: url("./img/bground_img_4.png");
    height: 10vw;
  }
}

.header__img,
.coloph .btm__img {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1000;
  background-color: $col-background;
}

.red-button {
  width: 50%;
  height: 50%;
  position: fixed;
  background-color: red;
  &:hover {
    background-color: rebeccapurple;
  }
}

.column-1,
.column-2 {
  width: 50%;
  display: flex;
}
