.container .heading__project .btn__home i {
  color: $col-text;
}

.post-content {
  margin-top: 2rem;
}

.the-title {
  margin-top: 25vh;
}

.the-caption {
  margin-bottom: 4rem;
}

.the-credits {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.the-language {
  display: none;
}

.the-gradient {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.hr {
  margin-bottom: 1rem;
}

.hr-wide {
  margin-bottom: 1rem;
  display: none;
}

@media only screen and (min-width: 375px) {
  .hr {
    display: none;
  }
  .hr-wide {
    display: block;
  }
}

@media only screen and (min-width: 568px) {
  .hr-wide {
    display: none;
  }
  .the-language {
    display: block;
  }
  .the-title {
    margin-top: 15vh;
  }
  .the-gradient {
    margin-top: 15px;
    margin-left: 20vw;
  }
}

@media only screen and (min-width: 1024px) {
  .the-title {
    margin-top: 10vh;
  }
}
