.container .heading__project .btn__home i {
  color: $col-text;
}

.post-content {
  margin-top: 2rem;
}

.the-caption {
  margin-bottom: 4rem;
}

.the-credits {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
